<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.metanet.educationSystem.mapper.AdminMapper">

	<!-- <select id="getAll" resultType="DeptVO"> SELECT * from dept where deptNO = 10 </select> -->
	
	<insert id="memberInsert" parameterType="MemberVO">
		insert into member (memberNO, memberName,memberPassword,memberEmail,memberPhoneNO,memberDistinct,isAccountNonExpired,isAccountNonLocked,isCredentialsNonExpired,isEnabled)
		values(#{memberNO},#{memberName},#{memberPassword},#{memberEmail},#{memberPhoneNO},#{memberDistinct},0,0,0,0)
	</insert>
	
	<select id="checkMemberNO" parameterType="String" resultType="String">
		select memberNO from member where memberNO = #{memberNO}
	</select>
	
</mapper>