<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.metanet.educationSystem.mapper.AdminMapper">

	<!-- <select id="getAll" resultType="DeptVO"> SELECT * from dept where deptNO = 10 </select> -->

	<!-- memberInsert - student, professor -->
	<insert id="memberInsert" parameterType="MemberVO">
		insert into member (memberNO,
		memberName,memberPassword,memberEmail,memberPhoneNO,memberDistinct,isAccountNonExpired,isAccountNonLocked,isCredentialsNonExpired,isEnabled)
		values(#{memberNO},#{memberName},#{memberPassword},#{memberEmail},#{memberPhoneNO},#{memberDistinct},0,0,0,0)
	</insert>

	<select id="checkMemberNO" parameterType="String" resultType="String">
		select memberNO from member where memberNO = #{memberNO}
	</select>

	<!-- classInsert -->
	<insert id="classInsert" parameterType="classVO">
		insert into class (classNO, className, classGoal, classSummary, classPersonnel, classCredit, memberNO)
		values(#{classNO},#{className},#{classGoal},#{classSummary},#{classPersonnel},#{classCredit},#{memberNO})
	</insert>

	<select id="checkClassNO" parameterType="String" resultType="String">
		select classNO from class where classNO = #{classNO}
	</select>

	<!-- noticeInsert -->
	<select id="getNoticeNO" resultType="string">
		select max(noticeNO) as noticeNO from notice
	</select>

	<insert id="noticeInsert" parameterType="NoticeVO">
		insert into notice (noticeNO, noticeSubject, noticeContent, noticeDate)
		values(#{noticeNO},#{noticeSubject},#{noticeContent}, sysdate)
	</insert>

	<select id="noticeNO" parameterType="String" resultType="String">
		select noticeNO from notice where noticeNO = #{noticeNO}
	</select>

</mapper>