<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.metanet.educationSystem.mapper.LoginMapper">


    <select id="readMember" parameterType="String" resultType="MemberVO">
          SELECT * FROM member WHERE memberNO = #{memberNO}
     </select>
     
	<select id="getPassword" resultType="MemberVO">
        SELECT memberPassword from member where memberNO=#{memberNO}
    </select>
    

     <select id="getDistinct" parameterType="String" resultType="String">
          SELECT memberDistinct FROM member WHERE memberNO = #{memberNO}
     </select>
</mapper>