<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper
	namespace="com.metanet.educationSystem.mapper.ProfessorMapper">

	<resultMap type="java.util.HashMap" id="studentInfo">
		<id column="scoreNO" property="scoreNO" />
		<result column="classNO" property="classNO" />
		<association property="MemberVO" javaType="MemberVO">
			<result column="memberNO" property="memberNO" />
			<result column="memberName" property="memberName" />
			<result column="memberEmail" property="memberEmail" />
			<result column="memberPhoneNO" property="memberPhoneNO" />
		</association>
		<association property="ClassVO" javaType="ClassVO">
			<result column="className" property="className" />
		</association>
	</resultMap>


	<select id="professorGetClassList" parameterType="string"
		resultType="ClassVO">
		SELECT * from class where memberNO=#{professorNO}
	</select>

	<select id="professorGetStudentList" parameterType="string"
		resultMap="studentInfo">
		select score.classNO, score.memberNO, memberName,
		memberEmail, memberPhoneNO, className
		from score join member on
		score.memberNO = member.memberNO
		join class on class.classNO =
		score.classNO
		where score.classNO = #{classNO}

	</select>


	<update id="inputStudentScore" parameterType="ScoreVO">
		MERGE INTO score s
		USING DUAL
		ON (s.CLASSNO = #{classNO} AND s.MEMBERNO = #{memberNO})
		WHEN MATCHED THEN
		UPDATE SET s.MIDTERMSCORE = #{midtermScore},
		s.FINALSSCORE=#{finalsScore},
		s.assignmentScore= #{assignmentScore},
		s.attendanceScore= #{attendanceScore},
		s.GRADE= #{grade}
		WHEN NOT
		MATCHED THEN
		INSERT(classNO, memberNO,
		midtermScore,finalsScore,assignmentScore, attendanceScore, grade)
		VALUES
		(#{classNO} , #{memberNO} , #{midtermScore}, #{finalsScore},
		#{assignmentScore}, #{attendanceScore}, #{grade}
		)

	</update>

	<select id="getstudentScore" parameterType="map"
		resultType="ScoreVO">
		SELECT
		NVL(midtermScore,'0') AS midtermScore,
		NVL(finalsScore,'0') AS finalsScore,
		NVL(assignmentScore,'0') AS
		assignmentScore,
		NVL(attendanceScore,'0') AS attendanceScore,
		NVL(grade,'-') AS grade
		FROM score
		WHERE classNO=#{classNO} AND
		memberNO= #{studentNO}

	</select>




</mapper>