<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.metanet.educationSystem.mapper.StudentMapper">

	    <resultMap type="java.util.HashMap" id="classInfo">
        <id column="classNO" property="classNO"/>
        <result column="className" property="className"/>
        <result column="classPersonnel" property="classPersonnel"/>
        <result column="classCredit" property="classCredit"/>
        <association property="MemberVO" javaType="MemberVO">
            <result column="memberName" property="memberName"/>
        </association>
    </resultMap>

	<select id="getMemberVO" resultType="MemberVO">
		SELECT * from member where memberNO = 10
	</select>

	<select id="getClassList" resultMap="classInfo">
		select class.*,memberName
		from class, member
		where class.memberNO = member.memberNO

	</select>

</mapper>